@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700);
@import url(https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css);
/* ibm plex */

/* comfortaa */

/* material */


/* VARIABLES -------------------------------------------------- */

* {
    /* COLORS */
    --primary-color: #009688;
    --dark-primary-color: #00796B;
    --ligth-primary-color: #B2DFDB;
    --primary-color-medium: rgb(0, 182, 155);
    --dark: #181818;
    --gray: #cccccc;
    --light-gray: #d9d9d9;
    --cr-light-gray: #f0f0f0;
    --medium-gray: #cccccc;

    /* FONTS */
    --primary-font: 'IBM Plex Sans', sans-serif;
    --secondary-font: 'Comfortaa';


    /* material */
    --mdc-theme-primary: #009688;
}
/* PAGE CSS
----------------------------------------------------------------------------------------
 */

body, html {
    font-size: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--primary-font);
    color: var (--dark);
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    color: var(--dark);
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

a:active, a:visited, a:hover, a:focus {
    color: inherit;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font)
}

button {
    padding: 5px 12px;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--gray);
    font-size: 1.4em;
    color: white;
    font-family: var(--ibm-plex);
    border-radius: 6px;
    text-transform: uppercase;
}

button:hover, button:active, button:focus, button:visited {
    border-style: none;
    border: none;
    outline: none;
}

button.primary {
    background: var(--primary-color);
    color: white;
}

input {
    font-family: var(--primary-font);
}


/* LOADER -------------------------------------------------- */

.centered-loader {
    height: 100%;
    display: grid;
    grid-template-areas: 'setting-loader';
    grid-template-rows: 1fr;
}

.centered-loader ajax-loader {
    grid-area: setting-loader;
    justify-self: center;
    align-self: center;
    margin-top: -50px;
}


/* CRUMBL OS -------------------------------------------------- */


crumbl-os {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}
